/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
   /**
     * colors
     */

 
   --spanish-gray: hsl(0, 0%, 56%);
   --eerie-black-1: hsl(240, 4%, 11%);
   --raisin-black: hsl(249, 9%, 15%);
   --han-purple: #4834d4;
   --gainsboro: hsl(0, 0%, 88%);
   --cultured: hsl(0, 0%, 98%);
   --white_20: hsla(217, 15%, 70%, 0.3);
   --indigo: hsl(277, 94%, 28%);
   --white: hsl(0, 0%, 100%);
   --black: hsl(0, 0%, 0%);

   --gradient-1: linear-gradient(141deg, rgba(191, 102, 255, 1) 0%, rgba(98, 72, 255, 1) 50%, rgba(0, 221, 235, 1) 100%);
   ;

   /**
     * typography
     */

   --body-font: 'Poppins', sans-serif;

   --fs-1: 4.8rem;
   --fs-2: 3.2rem;
   --fs-3: 1.5rem;
   --fs-4: 1.9rem;
   --fs-5: 1.4rem;

   --fw-500: 500;
   --fw-600: 600;
   --fw-700: 700;
   --fw-900: 900;

   /**
     * border radius
     */
   --radius-8: 8px;



   
}

/*-----------------------------------*\
    #RESET
  \*-----------------------------------*/

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

li {
   list-style: none;
}

a {
   text-decoration: none;
   color: inherit;
}

a,
img,
svg,
input,
button,
ion-icon {
   display: block;
}

img {
   height: auto;
}

input,
button {
   background: none;
   font: inherit;
}

input {
   width: 100%;
}

button,
a {
   cursor: pointer;
}

ion-icon {
   pointer-events: none;
}

html {
   font-family: var(--body-font);
   font-size: 10px;
   scroll-behavior: smooth;
}

body {
   font-size: 1.6rem;
   font-family: var(--body-font);
   color: white;
}



.line img {
   background-color: #0f0e17;
   max-width: 100%;
}


::-webkit-scrollbar {
   width: 15px;
}

::-webkit-scrollbar-track {
   background-color: hsl(0, 0%, 100%);
}

::-webkit-scrollbar-thumb {
   background-color: hsl(0, 0%, 80%);
}

::-webkit-scrollbar-thumb:hover {
   background-color: hsl(0, 0%, 70%);
}

/*-----------------------------------*\
    #REUSED STYLE
  \*-----------------------------------*/


.btn {
   color: var(--white);
   border: 3px solid var(--white);
   padding: 8px 16px;
   border-radius: var(--radius-8);
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5px;
   width: 160px;
   font-weight: 600;
   font-size: 1.75rem;
}

.ri-external-link-line {
   font-size: 1.75rem;
   font-weight: 100;
}

.btn ion-icon {
   font-size: 2rem;
}

.hydrated:hover {
   color: #4834d4;
}

.btn:hover {
   color: #4834d4;
   border: 3px solid #4834d4;
}

.btn2:hover {
   color: var(--han-purple);
   border: 3px solid var(--han-purple);
}

.section-subtitle {
   padding-top: 2%;
   font-size: 5rem;
   background-image: var(--gradient-1);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-weight: var(--fw-700);
}

.title {
   display: inline;
   background-image: var(--gradient-1);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-weight: var(--fw-700);
   font-size: 8rem;
}


.h4 {
   font-size: 3rem;
   line-height: 1;
}

.section {
   padding-block-start: var(--section-padding);
   padding: 0 10%;
   height: auto;
}


.btn-link {
   gap: 5px;
   color: var(--white);
   font-weight: var(--fw-500);
   font-size: 2rem;
}

.btn-link:is(:hover, :focus) {
   color: #4834d4;
}

.btn-link ion-icon {
   color: inherit;
}


.card {
   background-color: var(--eerie-black-1);
   padding: 25px;
   border-radius: var(--radius-8);
   transition: var(--transition-2);
   border-bottom: 1px solid var(--han-purple);

}

.card-banner {
   overflow: hidden;
   border-radius: var(--radius-6);
}

.img-cover {
   width: 100%;
   object-fit: cover;
}


/*-----------------------------------*\
    #HEADER
  \*-----------------------------------*/


.header {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 4;
   background: #0c0e10;
   font-size: 1.5rem;
   position: fixed;
   opacity: 0.9;
}


.menu-open-btn {
   font-size: 2.6rem;
   border-radius: var(--radius-8);
   left: 30px;
   max-width: 28px;
   border: 1px solid white;
}

.header ion-icon {
   color: var(--white);
}

.navbar {
   position: fixed;
   top: -100%;
   display: flex;
   align-items: center;
   flex-direction: column;
   width: 100%;
   height: 50%;
   z-index: 2;
   transition: top 0.5s;
   padding-block: 3.5rem;
   transition: all .5s;
   left: 0;
}

.navbar.active {
   top: 0;
   font-size: 2.5rem;
   background-color: #0f0e17;
   height: auto;
   width: 100%;
}


.navbar-top {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.navbar-title {
   font-weight: var(--fw-600);
   font-size: 3rem;
}

.nav-close-btn {
   border-radius: var(--radius-8);
   position: fixed;
   top: 13px;
   left: 30px;
   border: 1px white solid;
}

.nav-close-btn ion-icon {
   color: white;
   font-size: 2.7rem;
}

.navbar-link {
   color: var(--white);
   position: relative;
   display: inline-block;
   font-size: 2rem;
   font-weight: var(--fw-500);
}

.navbar-link::before {
   content: "";
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 1px;
   background-color: #fff;
   border-radius: 4px;
   scale: 0 1;
   transform-origin: right;
   transition: scale 0.2s;
}

.navbar-link:hover::before {
   scale: 1;
   transform-origin: left;
}

.menu-open-btn {
   background-color: transparent;
   position: fixed;
   top: 13px;
   right: 30px;
}

.overlay {
   position: fixed;
   inset: 0;
   background-color: hsla(0, 0%, 0%, 1);
   transition: var(--transition-1);
   opacity: 0;
   pointer-events: none;
   z-index: 1;
}

.overlay.active {
   opacity: 1;
   pointer-events: all;
}



/*-----------------------------------*\
    #HERO
  \*-----------------------------------*/

.hero {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100vh;
}
.rocket{
   max-width: 80%;
   transform: translate(-20%, -15%)

}
.hero-title {
   font-size: 4rem;
   padding-top: 15%;
   font-weight: var(--fw-900);
}
.title-dev{
   font-size: 6rem;
   font-weight: 700;
}

.btn-group{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-block: 5rem  ;
}

.btn-group > .btn {
   width: auto;
   margin-bottom: 1rem;
   font-size: 2rem;
   width: 300px;
   font-weight: var(--fw-600);
}
.btn-group > .btn:hover {
   background-image: var(--gradient-1);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   transition: all .1s;
}



.webgl {
   z-index: 1;
   max-width: 100%;
}

.containerHero1 {
   z-index: 2;
   position: absolute;
   text-align: center;

}

.containerHero2 {
   z-index: 2;
   position: absolute;
   top: 75%;
   text-align: center;
   max-width: 100%;
}


/*-----------------------------------*\
    #PROJECTS
  \*-----------------------------------*/
.line img{
   background-color: #0c0e10;
}
.explore {
   background-color: #242424;
   background-image: url(./images/footer-bg.png);
}

.grid-list {
   display: grid;
   grid-template-columns: repeat(auto-fit,
         minmax(200px,
            1fr));
   gap: 2rem;
}

.explore-card {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 2rem;
}

.explore-card:is(:hover, :focus) {
   filter: drop-shadow(0 0 1em var(--han-purple)) brightness(115%);
   cursor: crosshair;
}

.explore-card .card-banner {
   margin-block-end: 1rem;
}

.explore-card .card-title>a:is(:hover, :focus) {
   color: #4834d4;
}

.explore-card .card-author {
   display: flex;
   align-items: center;
   gap: 5px;
}

.explore-card .wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-block-end: 15px;
}

.explore-card .btn {
   font-size: var(--fs-5);
   padding: 8px 16px;
   width: 160px;
}

/*-----------------------------------*\
    #ABOUT ME
  \*-----------------------------------*/
.line2 img {
   background-color: #202020;
   max-width: 100%;
}

.section-title {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-bottom: 5%;
   font-weight: var(--fw-600);
}

.section-title>a>span {
   display: flex;
   gap: 1%;
   align-items: center;
}

.about-me {
   background-color: #202020;
   position: relative;
}

.article-about-me {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: row-reverse;
}

.about-eze {
   transition: all 0.3s;
   position: absolute;
   bottom: 0;
   left: 8%;
   max-width: 40%;
}

.photo {
   max-width: 100%;
   filter: grayscale(1);
   opacity: 75%;
}


.about-me-cards {
   display: grid;
   grid-template-columns: repeat(auto-fit,
         minmax(150px,
            1fr));
   gap: 2rem;
   max-width: 50%;
   padding-bottom: 5%;
}

.background {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   color: white;
   text-align: center;
   border-bottom: 2px solid var(--han-purple);
   height: 100%;
   background-color: #262626;
   border-radius: var(--radius-8);
   transition: all .3s;
   cursor: crosshair;
}

.background img {
   max-width: 100%;
}

.background p {
   font-size: 1.50rem;
}

.text>p {
   padding: 0 5% 5% 5%;
   font-weight: 600;
}

.background:hover {
   filter: brightness(110%);
   transform: scale(1.05) rotate(1.5deg);
   transition: all 0.3s;
}

.background-cero:hover {
   background-color: #05b7b9;
   color: #242424;
}

.background-one:hover {
   background-color: #eebbc3;
   color: #242424;
}

.background-two:hover {
   background-color: #fbdd74;
   color: #242424;
}

.background-three:hover {
   background-color: #b8c1ec;
   color: #242424;
}

.background-four:hover {
   background-color: #c3f0ca;
   color: #242424;
}

.background-five:hover {
   background-color: #5fd3fa;
   color: #242424;
}



/*-----------------------------------*\
    #INSTRUCTION
  \*-----------------------------------*/



.reviews {
   background-color: #242424;
   background-image: url(./images/footer-bg.png);
}

.about-me-reviews{
   display: grid;
   grid-template-columns: repeat(auto-fit,
         minmax(275px,
            1fr));
   gap: 10rem;
   padding: 0 5%;
}
.quote{
   display: flex;
   justify-content: flex-end;
   padding-bottom: 5rem;
}
.fa-solid {
   font-size: 5rem;
}
.review-header{
   display: flex;
   justify-content: center;
   align-items: center;
}

 .pic-review > img{
   border-radius: 41% 59% 35% 65% / 49% 41% 59% 51% ;
   padding-bottom: 3rem;
   max-width: 150px;

}

.me-reviews{
   display: flex;
   text-align: center;
   flex-direction: column;
   justify-content: center;
   align-items: justify;
   
}
.review-p{
   color:white;
   font-size: 1.5rem;
}
.review-name{
   border-bottom: 1px solid gray;
   color: white;
   font-size: 2.5rem;
   font-weight: var(--fw-600);
   padding-top: 2rem;
}
.review-job{
   font-weight: 600;
}
.review-linkedin{
   color: #0A66C2;
   font-weight: 700;
   display: flex;
   justify-content: center;
   padding-top: 3%;
   display: flex;
}
.review-linkedin > a{
   background-color: #202020;
   border-radius: 8px;
   padding: 8px 16px;
   border: 1px solid #202020;
   display: flex;
   align-items: center; 
}

.review-linkedin a:hover{
   color: #4bb5e6;
   border: 1px solid #4bb5e6;

}



/*-----------------------------------*\
    #STUDIES
  \*-----------------------------------*/

.line3 img {
   background: #202020;
   max-width: 100%;
}

.studies {
   background-color: #242424;
   position: relative;
   height: 100vh;
}


.swiper-wrapper {
   padding-bottom: 5rem;
}

.swiper-slide {
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   display: center;
   padding: 4rem 2rem;
   min-width: 200px;
   height: 450px;
   max-width: 225px;
   margin-block: 1rem;
   background-color: #202020;
   border: 3px solid var(--han-purple);
   border-radius: var(--radius-8);
   font-size: 2rem;
   cursor: pointer;
}



.swiper-slide img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.header-card{
   font-size:1.75rem;
}

.main-card {
   font-weight: 600;
   font-size: 2rem;
}

.hrs {
   color: #f2eb0f;
   font-size: 2rem;

}


.btn-card {
   color: var(--white);
   border: 3px solid var(--white);
   padding: 8px 16px;
   width: 160px;
   border-radius: var(--radius-8);
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5px;
   font-weight: 600;
   font-size: 1.75rem;
   border: 3px solid white;

}

.btn-card:hover {
   color: #4834d4;
   border: 3px solid var(--han-purple);
}

.swiper-pagination-bullet-active {
   background-color: #4834d4;
}


/* 
border: 8px solid #5fd3fa;
border: 8px solid #bebee5;
border: 8px solid #05b7b9;
border: 8px solid #f9bc60;

 */



/*-----------------------------------*\
    #FOOTER
  \*-----------------------------------*/

/* .line4 img {
   background-color: #202020;
   width: 100%;
} */

.footer {
   background-color: #202020;
   background-image: url(./images/World\ Map.svg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.footer-container{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 5% 0;
}


.social-list {
   display: flex;
   align-items: center;
   gap: 30px;
   padding: 3% 0;
}

.social-link {
   background-color: #242424;
   font-size: 3rem;
   border-radius: var(--radius-8);
   border: 1px solid #202020;
}

.social-link i {
   padding: 8px 16px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.whatsapp:hover{
   color: #25D366;
   transition: all 0.2s;
   background-color: hsla(217, 15%, 70%, 0.3);   
   border: 1px solid #25D366;
}

.linkedin:hover{
   color: #0A66C2 ;
   transition: all 0.2s;
   background-color: hsla(217, 15%, 70%, 0.3);
   border: 1px solid #0A66C2;

}
.github:hover{
   color:#171515;
   transition: all 0.2s;
   background-color: hsla(217, 15%, 70%, 0.3);
   border: 1px solid #171515;

}
.discord:hover{
   color: #5865F2 ;
   transition: all 0.2s;
   background-color: hsla(217, 15%, 70%, 0.3);
   border: 1px solid #5865F2;
}

.chat-card {
   background-color: #242424;
   border: 3px solid #4834d4;
   border-radius: 8px;
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
   width:auto;
 }
 
 .chat-header {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #242424;
   border-bottom: 1px solid #4834d4;
   color: #fff;
   padding: 10px;
   font-size: 18px;
 }
 .ri-mail-send-line{
   padding-right: 1%;
 }
 
 .chat-window {
   height: 220px;
   overflow-y: scroll;
 }
 
 .message-list {
   list-style: none;
   margin: 0;
   padding: 0;
 }
 
 .chat-input {
   display: flex;
   align-items: center;
   padding: 10px;
   border-top: 1px solid #4834d4
 }
 .chat-input:hover{
   background-color: hsla(217, 15%, 70%, 0.3);;
   transition: all 0.2s;
 }
 .chat-input >::placeholder{
   color: #fff;
   font-size: 1.5rem;
 }
 
 .message-input {
   color: #fff;
   flex: 1;
   border: none;
   outline: none;
   padding: 5px;
   font-size: 1.5rem;
 }

 
 .send-button {
   display: flex;
   justify-content: center;
   align-items: center;
   border: none;
   outline: none;
   border: 3px solid #fff;
   border-radius: 8px;
   color: #fff;
   font-size: 2rem;
   padding: 8px 16px;
   cursor: pointer;
   font-weight: 600;
 }
 
 .send-button:hover {
   color: #262626;
   border: 3px solid #262626;
 }
 .copyright-link{
   background-color: #242424;
   padding: 8px 16px;
   border-radius: 8px;

 }




/*-----------------------------------*\
    #MEDIA QUERIES
  \*-----------------------------------*/


/**

   */

@media screen and (max-width: 1480px) {
   .about-me-cards{
      max-width: 100%;     
   }
   .section{
      padding: 0 3%;
   }
   img.photo {
      display: none;
   }
}

@media (min-width: 1200px) {
   /**


   /**
     * HEADER
     */

   .overlay,
   .navbar-top,
   .menu-open-btn {
      display: none;
   }

   .navbar,
   .navbar.active {
      all: unset;
      left: 0;
   }
   .header-container{
      width: 50%;
   }
   .navbar-list {
      padding-block: 1rem;   
      display: flex;
      justify-content: space-around;
      font-size: 2rem;
      font-weight: var(--fw-600);
   }
   

}

@media (max-width:1200px) {
   .hero-title{
      font-size: 3rem;
   }
   .title-dev{
      font-size: 5rem;
   }

}