/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
   /**
     * colors
     */

   --rich-black-fogra-39: black;
   --spanish-gray: hsl(0, 0%, 56%);
   --eerie-black-1: hsl(240, 4%, 11%);
   --raisin-black: hsl(249, 9%, 15%);
   --han-purple: #4834d4;
   --gainsboro: hsl(0, 0%, 88%);
   --cultured: hsl(0, 0%, 98%);
   --white_20: hsla(217, 15%, 70%, 0.3);
   --xiketic: hsl(250, 15%, 8%);
   --indigo: hsl(277, 94%, 28%);
   --white: hsl(0, 0%, 100%);
   --black: hsl(0, 0%, 0%);

   --gradient-1: linear-gradient(141deg, rgba(191, 102, 255, 1) 0%, rgba(98, 72, 255, 1) 50%, rgba(0, 221, 235, 1) 100%);
   ;

   /**
     * typography
     */

   --body-font: 'Poppins', sans-serif;

   --fs-1: 4.8rem;
   --fs-2: 3.2rem;
   --fs-3: 1.5rem;
   --fs-4: 1.9rem;
   --fs-5: 1.4rem;

   --fw-500: 500;
   --fw-600: 600;
   --fw-700: 700;
   --fw-900: 900;

   /**
     * border radius
     */

   --radius-4: 4px;
   --radius-6: 6px;
   --radius-8: 8px;

   /**
     * spacing
     */

   --section-padding: 50px;

   /**
     * box shadow
     */

   --shadow-1: 0 2px 2px var(--black);
   --shadow-2: 0px 2px 4px var(--black);

   /**
     * transition
     */

   --transition-1: 0.25s;
   --transition-2: 0.25s;
}

/*-----------------------------------*\
    #RESET
  \*-----------------------------------*/

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

li {
   list-style: none;
}

a {
   text-decoration: none;
   color: inherit;
}

a,
img,
svg,
span,
input,
button,
ion-icon {
   display: block;
}

img {
   height: auto;
}

input,
button {
   background: none;
   font: inherit;
}

input {
   width: 100%;
}

button,
a {
   cursor: pointer;
}

ion-icon {
   pointer-events: none;
}

html {
   font-family: var(--body-font);
   font-size: 10px;
   scroll-behavior: smooth;
}

body {
   font-size: 1.6rem;
   font-family: var(--body-font);
   color: white;
}

li {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   max-width: 100%;
}

.line img {
   background-color: #0f0e17;
   max-width: 100%;
}


::-webkit-scrollbar {
   width: 15px;
}

::-webkit-scrollbar-track {
   background-color: hsl(0, 0%, 100%);
}

::-webkit-scrollbar-thumb {
   background-color: hsl(0, 0%, 80%);
}

::-webkit-scrollbar-thumb:hover {
   background-color: hsl(0, 0%, 70%);
}

/*-----------------------------------*\
    #REUSED STYLE
  \*-----------------------------------*/

.btn {
   color: var(--white);
   font-weight: bold;
   border: 2px solid var(--white);
   padding: 8px 16px;
   border-radius: var(--radius-8);
   display: flex;
   justify-content: center;
   gap: 5px;
   width: 160px;
}



.btn ion-icon {
   font-size: 2rem;
}

.hydrated:hover {
   color: #4834d4;
}

.btn:is(:hover, :focus) {
   color: rgba(0, 221, 235, 1);
   border: 2px solid rgba(0, 221, 235, 1);
}

.btn2:is(:hover, :focus) {
   color: var(--han-purple);
   border: 2px solid var(--han-purple);
}

.section-subtitle {
   font-size: 4rem;
   background-image: var(--gradient-1);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-weight: var(--fw-600);
}

.title {
   display: inline;
   background-image: var(--gradient-1);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-weight: var(--fw-600);
   font-size: 7rem;
}

.h2 {
   font-size: var(--fs-2);
   line-height: 1.2;
}

.section {
   padding-block-start: var(--section-padding);
   padding: 0 15%;
   height: auto;
}


.btn-link {
   gap: 5px;
   color: var(--white);
   font-weight: var(--fw-500);
   font-size: 2rem;

}

.btn-link:is(:hover, :focus) {
   color: rgba(0, 221, 235, 1);
}

.btn-link ion-icon {
   color: inherit;
}

.grid-list {
   display: grid;
   row-gap: 20px;
   column-gap: 2%;
}

.card {
   background-color: var(--eerie-black-1);
   padding: 25px;
   border-radius: var(--radius-8);
   transition: var(--transition-2);
   border-bottom: 1px solid var(--han-purple);

}

.card-banner {
   overflow: hidden;
   border-radius: var(--radius-6);
}

.img-cover {
   width: 100%;
   object-fit: cover;
}


/*-----------------------------------*\
    #HEADER
  \*-----------------------------------*/


.header {
   width: 100%;
   display: flex;
   justify-content: center;
   z-index: 4;
   background: #0f0e17;
   font-size: 1.5rem;
   position: fixed;
   opacity: 0.9;
}


.menu-open-btn {
   margin-inline-start: auto;
   font-size: 2.6rem;
   border-radius: var(--radius-8);
}

.header ion-icon {
   color: var(--white);
}

.navbar {
   position: fixed;
   top: -100%;
   display: flex;
   align-items: center;
   flex-direction: column;
   width: 100%;
   height: 50%;
   z-index: 2;
   transition: top 0.5s;
   padding-block: 3.5rem;
   transition: var(--transition-2);
   left: 0;
}

.navbar.active {
   top: 0;
   font-size: 2.5rem;
   background-color: #0f0e17;
   height: auto;
}


.navbar-top {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.navbar-title {
   font-weight: var(--fw-600);
   font-size: 3rem;
}

.nav-close-btn {
   border-radius: var(--radius-8);
   position: fixed;
   top: 13px;
   right: 30px;
}

.nav-close-btn ion-icon {
   color: var(--spanish-gray);
   font-size: 2.7rem;
   --ionicon-stroke-width: 40px;
}

.navbar-link {
   color: var(--white);
   position: relative;
   display: inline-block;
}

.navbar-link::before {
   content: "";
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 1px;
   background-color: #fff;
   border-radius: 4px;
   scale: 0 1;
   transform-origin: right;
   transition: scale 0.2s;
}

.navbar-link:hover::before {
   scale: 1;
   transform-origin: left;
}

.menu-open-btn {
   background-color: transparent;
   position: fixed;
   top: 13px;
   right: 30px;
}

.overlay {
   position: fixed;
   inset: 0;
   background-color: hsla(0, 0%, 0%, 1);
   transition: var(--transition-1);
   opacity: 0;
   pointer-events: none;
   z-index: 1;
}

.overlay.active {
   opacity: 1;
   pointer-events: all;
}

.play-btn {
   position: absolute;
   top: 13px;
   right: 50px;
}

.pause-btn {
   position: absolute;
   top: 13px;
   right: 35px;
}

.play-btn-disabled {
   display: none;
}

.pause-btn-disabled {
   display: none;

}

.play-btn:hover,
.pause-btn:hover {
   color: rgba(0, 221, 235, 1);
}


/*-----------------------------------*\
    #HERO
  \*-----------------------------------*/

.hero {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.subtitle {
   margin-block-end: 5px;
   font-size: 2rem;
   font-weight: 500;
}

.hero-text {
   font-size: 2rem;
   margin-block-end: 25px;
}


.hero-title {
   font-size: 1.75rem;
   margin-block-end: 15px;
   font-weight: 500;
}

.hero .btn-group {
   display: flex;
   flex-wrap: wrap;
   gap: 25px;
   justify-content: center;
}

.hero-bg-bottom {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: -1;
}

.webgl {
   z-index: 1;
}

.containerHero1 {
   z-index: 2;
   position: absolute;
   top: 12%;
   text-align: center;
   line-height: 230%;
}

.containerHero2 {
   z-index: 2;
   position: absolute;
   top: 80%;
   text-align: center;
   max-width: 100%;
}


/*-----------------------------------*\
    #PROJECTS
  \*-----------------------------------*/

.explore {
   background-color: #242424;

}

.explore-card {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   max-width: 200px;
}

.explore-card:is(:hover, :focus) {
   filter: drop-shadow(0 0 1em var(--han-purple)) brightness(115%);
}

.explore-card .card-banner {
   margin-block-end: 1rem;
}

.explore-card .card-title>a:is(:hover, :focus) {
   color: #4834d4;
}

.explore-card .card-author {
   display: flex;
   align-items: center;
   gap: 5px;
}

.explore-card .wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-block-end: 15px;
}

.explore-card .btn {
   font-size: var(--fs-5);
   --padding: 8px 15px;
   width: 160px;
}

/*-----------------------------------*\
    #ABOUT ME
  \*-----------------------------------*/
.line2 img {
   background-color: #202020;
   max-width: 100%;
}

.section-title {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-bottom: 5%;
}

.section-title>a>span {
   display: flex;
   gap: 1%;
   align-items: center;
}

.about-me {
   background-color: #202020;
   padding-bottom: 5%;
}

/* .article-about-me{
   max-width: 50%;
} */


.about-me-cards{
   display: grid;
   grid-template-columns: repeat(
      auto-fit,
      minmax(
         175px,
         1fr
      )
   );
   gap:2rem;
}
.background{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: white;
   text-align: center;
   /* filter: brightness(60%); */
   border-bottom: 2px solid var(--han-purple);
   height: 275px;
   background-color: #242424;
   border-radius: var(--radius-8);
   transition: all .3s;
}

.background img{
   max-width: 150px;
}
.background p{
   font-size: 1.5rem;
   padding: 3%;
   
}
.background:hover{
   filter: brightness(110%);
   transform: scale(1.04) rotate(1.5deg);
   transition: all 0.3s;
}

.background-cero:hover{
   background-color: #05b7b9;
   color: #242424;
}

.background-one:hover{
   background-color: #eebbc3;
   color: #242424;
}

.background-two:hover{
   background-color: #5fd3fa;
   color: #242424;
}

.background-three:hover{
   background-color: #b8c1ec;
   color: #242424;
}

.background-four:hover{
   background-color: #c3f0ca;
   color: #242424;
}

.background-five:hover{
   background-color: #fbdd74;
   color: #242424;
}

.eze{
   width: 600px;
   filter: drop-shadow(0 0 1em var(--han-purple)) brightness(115%);
}
/*-----------------------------------*\
    #STUDIES
  \*-----------------------------------*/

.line3 img {
   background: #202020;
   max-width: 100%;
}

.studies {
   background-color: #242424;
   padding-bottom: 10%;
}

.study-grid {
   display: flex;
   /* display: grid; */
   flex-wrap: wrap;
   justify-content: space-between;


}

.box1,
.box2,
.box3,
.box4 {
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   display: center;
   padding: 25px;
   max-width: 225px;
   min-width: 225px;
   margin-block: 1rem;
}

.box1 {
   border: 8px solid #5fd3fa;
   border-radius: var(--radius-8);
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 1;
   grid-row-end: 2;

}

.box2 {
   border: 8px solid #bebee5;
   border-radius: var(--radius-8);
   grid-column-start: 2;
   grid-column-end: 3;
   grid-row-start: 1;
   grid-row-end: 2;
}

.box3 {
   border: 8px solid #05b7b9;
   border-radius: var(--radius-8);
   grid-column-start: 3;
   grid-column-end: 4;
   grid-row-start: 1;
   grid-row-end: 2;
}

.box4 {
   border: 8px solid #f9bc60;
   border-radius: var(--radius-8);
   grid-column-start: 4;
   grid-column-end: 5;
   grid-row-start: 1;
   grid-row-end: 2;
}

.p2-studies {
   color: #f2eb0f;
}

.h4-studies {
   font-size: 2rem;
}

.btn-studies {
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: var(--radius-8);
   border: none;
   font-weight: 500;
   width: 160px;
   height: 40px;
}

.btn-studies:hover {
   filter: brightness(110%);
}

.btn-one {
   background-color: #5fd3fa;
}

.btn-two {
   background-color: #bebee5;
}

.btn-three {
   background-color: #05b7b9;
}

.btn-four {
   background-color: #f9bc60;
}

.p-studies,
.h4-studies,
.p2-studies {
   padding-block-end: 10%;
}






/*-----------------------------------*\
    #INSTRUCTION
  \*-----------------------------------*/

.instruction {
   padding-block-end: var(--section-padding);
   background-color: #0f0e17;
}

.instruction .section-title {
   margin-block-end: 50px;
}

.instruction-icon ion-icon {
   font-size: 5rem;
   color: var(--han-purple);
   --ionicon-stroke-width: 25px;
}

.instruction-title {
   color: var(--white);
   font-family: var(--ff-jost);
   font-size: var(--fs-3);
   font-weight: var(--fw-600);
   margin-block: 15px;
}

/*-----------------------------------*\
    #FOOTER
  \*-----------------------------------*/

.line4 img {
   background-color: #0f0e17;
   max-width: 100%;
}

.footer {
   background-color: #242424;
}

.footer-top {
   padding-block: var(--section-padding);
   border-block-end: 1px solid hsla(0, 0%, 100%, 0.2);
   display: grid;
   gap: 50px 40px;
}

.footer-text {
   color: var(--gainsboro);
   margin-block: 15px 24px;
}

.social-list {
   display: flex;
   align-items: center;
   gap: 10px;
}

.social-link {
   background-color: var(--eerie-black-2);
   color: var(--cultured);
   width: 42px;
   height: 42px;
   font-size: 1.8rem;
   border-radius: var(--radius-4);
   overflow: hidden;
}

.social-link ion-icon {
   padding: 12px;
   transition: var(--transition-2);
}

.social-link:is(:hover, :focus) ion-icon {
   transform: translateY(-42px);
}

.footer-list-title {
   color: var(--cultured);
   font-size: var(--fs-3);
   margin-block-end: 20px;
}

.footer-link {
   width: max-content;
   color: var(--gainsboro);
   margin-block: 12px;
   transition: var(--transition-1);
}

.footer-link:is(:hover, :focus) {
   text-decoration: underline;
   background-color: hsla(0, 0%, 100%, 0.05);
}

.newsletter-form {
   position: relative;
}

.newsletter-input {
   background-color: var(--eerie-black-2);
   color: var(--gainsboro);
   font-size: var(--fs-5);
   padding: 12px 20px;
   padding-inline-end: 80px;
   border-radius: var(--radius-4);
   outline: none;
   transition: var(--transition-1);
}

.newsletter-input:focus {
   box-shadow: 0 0 1px 4px hsl(0, 0%, 40%);
}

.newsletter-btn {
   background-image: var(--gradient-1);
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   padding-inline: 25px;
   border-radius: 50px 4px 4px 50px;
}

.newsletter-btn ion-icon {
   --ionicon-stroke-width: 40px;
}

.footer-bottom {
   color: var(--gainsboro);
   padding-block: 25px;
   text-align: center;
}

.copyright-link {
   text-decoration: underline;
   display: inline-block;
   transition: var(--transition-1);
}

.copyright-link:is(:hover, :focus) {
   background-color: hsla(0, 0%, 100%, 0.05);
}

/*-----------------------------------*\
    #BACK TO TOP
  \*-----------------------------------*/

.back-top-btn.active {
   visibility: visible;
   opacity: 1;
   transform: translateY(-10px);
   color: white;
}

.back-top-btn:is(:hover, :focus-visible) {
   background-color: #4834d4;
   opacity: 10%;
}

.back-to-top {
   background-color: transparent;
   color: #4834d4;
   border: 2px solid #4834d4;
   position: fixed;
   bottom: 13px;
   right: 30px;
   width: 30px;
   height: 30px;
   display: grid;
   place-items: center;
   border-radius: 50%;
   visibility: visible;
   z-index: 4;
}

.back-to-top:hover {
   border: 2px solid white;
   color: white;
}

/*-----------------------------------*\
    #MEDIA QUERIES
  \*-----------------------------------*/

/**
   * responsive for larger than 575px screen
   */

@media (min-width: 575px) {
   /**
     * REUSED STYLE, FOOTER
     */

   .grid-list,
   .footer-top {
      grid-template-columns: 1fr 1fr;
   }
}

/**
   * responsive for larger than 768px screen
   */

@media (min-width: 768px) {

   /**
     * HERO
     */

   .hero {
      min-height: 700px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
   }
}

/**
   * responsive for larger than 992px screen
   */

@media (min-width: 992px) {
   /**
     * REUSED STYLE
     */

   .grid-list {
      grid-template-columns: repeat(3, 1fr);
   }

   /**
     * INSTRUCTION
     */

   .instruction .grid-list {
      grid-template-columns: repeat(4, 1fr);
   }

   /**
     * FOOTER
     */

   .footer-top {
      grid-template-columns: 1fr 0.6fr 0.6fr 1fr;
   }

   .footer-brand {
      padding-inline-end: 60px;
   }
}

/**
   * responsive for larger than 1200px screen
   */
@media screen and (max-width: 1300px) {}

@media (min-width: 1200px) {
   /**
     * REUSED STYLE
     */


   .grid-list {
      grid-template-columns: repeat(4, 1fr);
   }

   /**
     * HEADER
     */

   .overlay,
   .navbar-top,
   .menu-open-btn {
      display: none;
   }

   .navbar,
   .navbar.active {
      all: unset;
      margin-inline: auto;
      left: 0;
     
   }

   .navbar-list {
      padding-block: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
      font-size: 1.75rem;
      left: 0;
   }
}

@media (max-width:1300px) {
   .play-btn {
      right: 75px;
   }



}