.btn-header {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: inherit;
	font-weight: 500;
	font-size: 17px;
	padding: 0.8em 1.3em 0.8em 0.9em;
	color: white;
	background: #ad5389;
	background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
	border: none;
	letter-spacing: 0.05em;
	border-radius: 8px;
	height: 40px;
}

.btn-header > .icon {
	margin-right: 3px;
	transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
	font-size: 2rem;
}

.btn-header span {
	transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.btn-header:hover .icon {
	transform: translateX(5px) rotate(45deg);
}

.btn-header:hover span {
	transform: translateX(7px);
}
